<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="user_name" value="oper" />
		<add key="password" value="online" />
		<add key="dumper_path" value="c:\dev\arnet\mysql\bin\mysqldump.exe" />
		<add key="dump_path" value="c:\dev\arnet\dump" />
		
		<add key="server_names" value="185.102.236.162:53306, 185.102.238.105:53306" />
		<add key="dump_path_subdirectories" value="Proteinka, Nemanja" />
	</appSettings>
</configuration>