<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dumper_path" value="C:\\dev\\arnet\\mysql\\bin\\mysqldump" />
		<add key="dump_path" value="C:\\dev\\arnet\\dump\\dump.sql" />
		<add key="server_name" value="localhost" />
		<add key="user_name" value="root" />
		<add key="password" value="root" />
	</appSettings>
</configuration>